    input[disabled] {
        color: blueviolet;
        border: 0 none;
        background-color: white;
    }
    textarea {
        width: 400px;
    }
    
    button {
        width: 100%;
        background-color: cornflowerblue;
        color: aliceblue;
        border-radius: 5px;
    }
    
    section {
        min-height: 800px;
        z-index: 100;
    }
    
    .backtop-link {
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 50px;
        z-index: 0;
    }
    
    html {
        position: sticky;
    }

    .textarea {
        width: 400px;
    }